.bar-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: black;
  color: yellow;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
}
