@media (max-width: 699px) {
  .contact-grid-content {
    display: flex;
    flex-direction: column;
    padding: 40px 0 40px 0;
    align-items: center;
    gap: 20px;
  }

  .contact-text-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }

  .contact-form {
    background-color: var(--swatch-light-brown);
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
  }

  .leaflet-container {
    width: 300px;
    height: 400px;
  }

  .contact-table {
    width: 250px;
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .contact-grid-content {
    display: flex;
    flex-direction: column;
    padding: 40px 0 40px 0;
    align-items: center;
    gap: 20px;
  }

  .contact-image {
    width: 550px;
  }

  .leaflet-container {
    width: 550px;
    height: 500px;
  }

  .contact-text-form {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }

  .contact-form {
    background-color: var(--swatch-light-brown);
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
  }

  .contact-table {
    width: 250px;
  }
}

@media (min-width: 1200px) {
  .contact-grid-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    gap: 20px;
  }

  .contact-text-form {
    display: flex;
    flex-direction: row;
    margin: 40px;
    gap: 40px;
  }

  .contact-form {
    background-color: var(--swatch-light-brown);
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px 30px 30px 30px;
  }

  .leaflet-container {
    width: 700px;
    height: 500px;
  }

  .contact-table {
    width: 300px;
  }
}

.contact-hero-content {
  background-image: url("../pictures/contact.jpg");
  background-size: cover;
  background-position: 50%;
  min-height: 500px;
}
