@media (max-width: 699px) {
  .contact-grid {
    display: grid;
    grid-template-columns: var(--space-big) auto var(--space-big);
    grid-template-rows: [section-hero]auto [section-menu]auto;
    min-height: 100vh;
  }

  .contact-grid-hero {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .contact-grid-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0 40px 0;
    align-items: center;
    gap: 20px;
  }

  .contact-text-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }

  .contact-form {
    background-color: var(--swatch-light-brown);
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
  }

  .contact-image {
    width: 100%;
  }

  .contact-table {
    width: 250px;
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .contact-grid {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: [section-hero]auto [section-menu]auto;
    min-height: 100vh;
  }

  .contact-grid-hero {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .contact-grid-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0 40px 0;
    align-items: center;
    gap: 20px;
  }
  .contact-image {
    width: 550px;
  }

  .contact-text-form {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }

  .contact-form {
    background-color: var(--swatch-light-brown);
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
  }

  .contact-table {
    width: 250px;
  }
}

@media (min-width: 1200px) {
  .contact-grid {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: [section-hero]auto [section-menu]auto;
    min-height: 100vh;
  }

  .contact-grid-hero {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .contact-grid-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    gap: 20px;
  }

  .contact-text-form {
    display: flex;
    flex-direction: row;
    margin: 40px;
    gap: 40px;
  }

  .contact-form {
    background-color: var(--swatch-light-brown);
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px 30px 30px 30px;
  }

  .contact-image {
    width: 700px;
    padding-bottom: 40px;
  }

  .contact-table {
    width: 300px;
  }
}

.contact-hero-content {
  background-image: url("../pictures/contact.jpg");
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 500px;
  width: 100%;
  display: flex;
}
