@media (max-width: 699px) {
  .dish-grid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 24px 20px 24px;
  }

  .dish-text {
    text-align: center;
  }

  .dish-ingredient {
    color: var(--swatch-dark-green);
    font-weight: 600;
    text-align: center;
  }

  .dish-table {
    width: 250px;
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .dish-grid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 0 40px 0;
  }

  .dish-ingredient {
    color: var(--swatch-dark-green);
    font-weight: 600;
  }

  .dish-table {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .dish-grid-content {
    display: flex;
    flex-direction: column;
    padding: 40px 0 40px 0;
    align-items: center;
    gap: 20px;
    padding: 40px 0 40px 0;
  }

  .dish-ingredient {
    color: var(--swatch-dark-green);
    font-weight: 600;
  }

  .dish-table {
    width: 600px;
  }
}

.dish-table-text {
  font-weight: bold;
}

th,
td {
  border-bottom: 1px solid var(--swatch-light-brown);
}

.dish-table-td {
  display: flex;
  justify-content: end;
}

.dish-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
