.hero-dish-cheesecake {
  background-image: url("../pictures/Desserts/cheesecake.jpg");
}

.hero-dish-chocolateCake {
  background-image: url("../pictures/Desserts/chocolateCake.jpg");
}

.hero-dish-fruitCake {
  background-image: url("../pictures/Desserts/fruitCake.jpg");
}

.hero-dish-fruitSalad {
  background-image: url("../pictures/Desserts/fruitSalad.jpg");
}

.hero-dish-pizza {
  background-image: url("../pictures/Dishes/pizza.jpg");
}

.hero-dish-potato {
  background-image: url("../pictures/Dishes/potato.jpg");
}

.hero-dish-salad {
  background-image: url("../pictures/Dishes/salad.jpg");
}

.hero-dish-sandwich {
  background-image: url("../pictures/Dishes/sandwich.jpg");
}

.hero-dish-fruitCocktail {
  background-image: url("../pictures/Drinks/fruitCocktail.jpg");
}

.hero-dish-yogurt {
  background-image: url("../pictures/Drinks/yogurt.jpg");
}

.hero-dish-chocolateCocktail {
  background-image: url("../pictures/Drinks/chocolateCocktail.jpg");
}

.hero-dish-cocktail {
  background-image: url("../pictures/Drinks/cocktail.jpg");
}

.hero-dish {
  background-size: cover;
  background-position: 50%;
  min-height: 500px;
}
