.hero-content {
  background-image: url("../pictures/kimzy-nanney-LNDgBERq8Q0-unsplash.jpg");
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
  width: 100%;
  display: flex;
}
