.hero-section-Dishes {
  background-image: url("../pictures/homePage/Dishes.jpg");
}

.hero-section-Desserts {
  background-image: url("../pictures/homePage/Desserts.jpg");
}

.hero-section-Drinks {
  background-image: url("../pictures/homePage/Drinks.jpg");
}

.hero-section {
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
  width: 100%;
  display: flex;
}
