@media (max-width: 699px) {
  .homepage-content-block {
    display: flex;
    align-items: center;
    padding: 0 0 30px 0;
    width: 100%;
    background-color: #72717152;
    flex-direction: column;
    justify-content: start;
    font-size: 12px;
  }

  .homepage-block {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    flex-direction: row;
    width: 300px;
  }

  .homepage-block-reverse {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    flex-direction: row-reverse;
    width: 300px;
  }

  .homepage-image {
    width: 300px;
  }

  .homepage-text-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;
  }

  .homepage-text {
    text-align: center;
  }

  .homepage-text-grid {
    width: 300px;
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 10px auto 10px;
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .homepage-content-block {
    display: flex;
    align-items: center;
    padding: 0 0 30px 0;
    width: 100%;
    background-color: #72717152;
    flex-direction: column;
    justify-content: start;
  }
  .homepage-grid {
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: [section-hero]auto [section-menu]auto;
    min-height: 100vh;
  }

  .homepage-grid-hero {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .homepage-grid-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .homepage-text-grid {
    width: 300px;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px auto 50px;
  }
  .homepage-block {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .homepage-block-reverse {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    flex-direction: row-reverse;
  }
  .homepage-image {
    width: 300px;
  }

  .homepage-text-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .homepage-content-block {
    display: flex;
    align-items: center;
    padding: 0 0 30px 0;
    width: 100%;
    background-color: #72717152;
    flex-direction: column;
    justify-content: start;
  }

  .homepage-grid {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: [section-hero]auto [section-menu]auto;
    min-height: 100vh;
  }

  .homepage-grid-hero {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .homepage-grid-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .homepage-text-grid {
    width: 500px;
    display: grid;
    grid-template-columns: 110px auto 110px;
    grid-template-rows: 110px auto 110px;
  }
  .homepage-block {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .homepage-block-reverse {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    flex-direction: row-reverse;
  }
  .homepage-image {
    width: 500px;
  }

  .homepage-text-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}

.homepage-hero-content {
  background-image: url("../pictures/kimzy-nanney-LNDgBERq8Q0-unsplash.jpg");
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  color: rgb(242, 255, 213);
  align-items: center;
}

.homepage-title {
  font-size: 60px;
}

.homepage-title-text {
  font-size: 30px;
  text-align: center;
}

.homepage-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0 40px 0;
}

button {
  border: none;
}
.homepage-button {
  background-color: var(--swatch-light-brown);
  color: var(--swatch-dark-brown);
  width: 100px;
  height: 20px;
  border-radius: 10px;
}
