@media (max-width: 699px) {
  .section-content-block {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #72717152;
    flex-direction: column;
    font-size: 60px;
    color: rgb(242, 255, 213);
  }

  .section-grid-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--space-big);
    padding-top: 40px;
  }

  .section-text-grid {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 10px auto 10px;
    width: 250px;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .section-image {
    width: 250px;
  }

  .section-text-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-text {
    text-align: center;
    padding-bottom: 10px;
  }
}

@media (min-width: 700px) and (max-width: 1199px) {
  .section-content-block {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #72717152;
    flex-direction: column;
    font-size: 60px;
    color: rgb(242, 255, 213);
  }

  .section-grid-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
  }

  .section-text-grid {
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50px auto 50px;
  }

  .section-content {
    display: flex;
  }

  .section-image {
    height: 250px;
  }

  .section-text-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  .section-content-block {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #72717152;
    flex-direction: column;
    font-size: 60px;
    color: rgb(242, 255, 213);
  }

  .section-grid-content {
    display: flex;
    flex-direction: column;
    padding: 40px 0 40px 0;
    align-items: center;
  }

  .section-text-grid {
    width: 600px;
    height: 250px;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 80px auto 80px;
  }

  .section-content {
    display: flex;
  }

  .section-image {
    height: 250px;
  }

  .section-text-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.section-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-title {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 40px;
}

.section-Dishes {
  background-image: url("../pictures/homePage/Dishes.jpg");
}

.section-Desserts {
  background-image: url("../pictures/homePage/Desserts.jpg");
}

.section-Drinks {
  background-image: url("../pictures/homePage/Drinks.jpg");
}

.section-hero {
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.section-description {
  font-size: 20px;
  padding: 0 30px 30px 30px;
  text-align: center;
}
