@media (min-width: 900px) {
  .section-text-grid {
    width: 600px;
    height: 250px;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 80px auto 80px;
  }

  .section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section-image {
    height: 250px;
  }

  .section-text-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 899px) {
  .section-text-grid {
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 10px auto 10px;
    width: 300px;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .section-image {
    width: 300px;
  }

  .section-text-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-text {
    text-align: center;
    padding-bottom: 10px;
  }
}

.section-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  gap: 20px;
}
